.navbar {
  background-color: rgba(52, 83, 106, 30%);
  min-height: 99px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 5;
  max-width: 1480px;
}
.navbar-expand-md .navbar-nav {
  height: 100%;
  align-items: center;
}
.navbar > .container,
.navbar > .container-fluid {
  max-width: 1170px;
  height: 100%;
  padding: 0;
}
@media (max-width: 768px) {
  .navbar {
    background-color: rgba(52, 83, 106, 70%);
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    height: 100%;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    height: 100%;
  }
  .navbar-expand-md .navbar-nav .nav-item:not(:first-child) {
    margin-left: 36px;
  }
  .navbar-expand-md .navbar-nav .nav-item .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .navbar-expand-md .navbar-nav .nav-item .nav-link.active:before,
  .navbar-expand-md .navbar-nav .nav-item .nav-link:hover:before,
  .navbar-expand-md .navbar-nav .nav-item .nav-link:focus:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #4bcaff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -40px;
  }
}
.active {
  color: #4bcaff;
}
.nav-link {
  font-size: 13px;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #4bcaff !important;
  font-weight: 500;
}